div#periodic-table_main {

	margin: 0px auto;
	padding-top: 0px;
	margin-top: 100px;
	margin-left: 0px;
}

	div#periodic-table_lanthanides {
	
		float: left;
		margin-top: 5px;
		margin-left: 5px;
		margin-bottom: 0px;
	}
	
	div#periodic-table_actinides {
	
		float: left;
		margin-left: 5px;
	}

span.hiddenText {

	display: none;
}

div.group {

	float: left;
	
	width: 24px;
	margin-right: 0px;
}

	div.group_title {
	
		float: left;
		margin-right: 2px;
		font-size: 10pt;
		text-align: left;
		padding-top: 10px;
		padding-right: 5px;
		width: 84px;
		height: 20px;
	}

	div.element {
		
		position: relative;
		border: 1px solid black;
		border-collapse: collapse;
		height: 28px;
		overflow: hidden;	
	}
	
		div.element span {
		
			cursor: pointer;
			text-decoration: none;
		}
	
		div.element.invisible {
		
			visibility: hidden;
		}
	
		div.element.last {
		
			margin-bottom: 0px;
		}
		
		div.element span {
		
			position: absolute;
			color: #000;
			
		}
		
		div.element span.element_link {
		
			z-index: 1000;
		}
		
		div.element span a {
		
			display: block;
			
			width: 45px;
			height: 51px;
			
			left: 0px;
			top: 0px;
			
			background-color: none;
			outline: none;
		}
		
			div.element a {
			
				text-decoration: none !important;
			}
		
			div.element:hover {
			
				obackground-color: #000;
				border-top: 1px solid #000;
			}
		
		div.element span.element_full-name {
		
			background-color: #FFF;
			width: 45px;
			left: 0px;
			text-align: center;
			font-size: 7pt;
			font-family: Arial, Helvetica, sans-serif;
			display:none;
			height:0px;
		}
		
			div.element.faded span.element_full-name {
			
				opacity: 0.3;
				filter: alpha(opacity=30);
			}
		
			div.element span.element_full-name.smallerText {
			
				font-size: 7pt;
				
				font-family: "Arial Narrow", Helvetica, sans-serif;
				margin-top: -1px;
				display:none;
			}
		
			div.element:hover span.element_full-name {
			
				background-color: #000;
				color: #FFF;
			}
		
		div.element span.element_atomic-number {
		
			width: 24px;
			left: 0px;
			top: 0px;
			
			font-size: 7pt;
			padding-top:1px;
			padding-left: 1px;
			height: 11px;
			
			z-index: 10px;
		}
		
			div.element.faded span.element_atomic-number {
			
				opacity: 0.3;
				filter: alpha(opacity=30);
			}
		
		div.element span.element_mass-number {
		
			width: 18px;
			float: right;
			
			right: 3px;
			top: 12px;
			padding-right: 1px;
			height: 1px;
			
			text-align: right;
			font-size: 7pt;
			background-color: #FFF;
			display:none;
			z-index: 10;
		}
		
			div.element:hover span.element_mass-number {
			
				background-color: #000;
				color: #FFF;
				
			}
			
			div.element.faded span.element_mass-number {
			
				opacity: 0.3;
				filter: alpha(opacity=30);
			}
		
		div.element span.element_symbol {
			
			left: 0px;
			top: 12px;
			width: 24px;
			height: 16px;
			padding-left:1px;
			text-align: left;
			font-size: 10pt;
			font-weight: bold;
			
			z-index: 10px;
		}

			div.element span.element_symbol.smallerText {
			
				font-size: 10pt;
				padding-top:0px;
				height: 16px;
			}
			
			div.element.faded span.element_symbol {
			
				opacity: 0.3;
				filter: alpha(opacity=30);
			}
		
		/* UNKNOWN CATEGORY styling ----------------------------------------------------------------------------------------- */
		div.element div.cat_unknown, div.element_large div.cat_unknown {
		
			obackground-color: #FFF;
		}
			
			div.dialog_title div.title_symbol.cat_unknown, div.dialog_footer.cat_unknown {
			
				background-color: #AAA;
			}
		
			div.dialog_content_container div.dialog_title.cat_unknown {
			
				border-bottom: 3px solid #AAA;
			}
			
			div.dialog_basicFacts p.basic_group.cat_unknown, div.dialog_basicFacts p.basic_state.cat_unknown, 
			div.dialog_basicFacts p.basic_uses.cat_unknown {
			
				background-image: url('../images/bullets/grey_unknown.gif');
				border-bottom: 2px solid #AAA;
			}
			
				div.dialog_basicFacts p.basic_facts.cat_unknown {
				
					background-image: url('../images/bullets/grey_unknown.gif');
				}
		
		/* ALKALI METAL styling --------------------------------------------------------------------------------------------- */
		div.element span.cat_alkaliMetal, div.element_large div.cat_alkaliMetal, 
		div.dialog_title div.title_symbol.cat_alkaliMetal, div.dialog_footer.cat_alkaliMetal {
		
			obackground-color: #FFC400;
		}
		
			div.dialog_content_container div.dialog_title.cat_alkaliMetal {
			
				border-bottom-color: #FFC400;
			}
			
			div.dialog_basicFacts p.basic_group.cat_alkaliMetal, div.dialog_basicFacts p.basic_state.cat_alkaliMetal, 
			div.dialog_basicFacts p.basic_uses.cat_alkaliMetal {
			
				background-image: url('../images/bullets/yellow_alkaliMetal.gif');
				border-bottom: 2px solid #FFC400;
			}
			
				div.dialog_basicFacts p.basic_facts.cat_alkaliMetal {
				
					background-image: url('../images/bullets/yellow_alkaliMetal.gif');
				}
				
				div.legend_category span.alkaliMetal {
				
					background-color: #FFC400;
				}
				
				div.collapsibleFrame p.frame_heading.cat_alkaliMetal.selected, div.dialog_mediaClips.cat_alkaliMetal {
				
					background-color: #FFC400; /* 100% tint */
				}
				
				div.collapsibleFrame p.frame_heading.cat_alkaliMetal {
				
					background-color: #FFECAB; /* 33% tint */
				}

		/* ALKALINE EARTH METAL styling ------------------------------------------------------------------------------------- */
		div.element span.cat_alkalineEarthMetal, div.element_large div.cat_alkalineEarthMetal, 
		div.dialog_title div.title_symbol.cat_alkalineEarthMetal, div.dialog_title div.title_compoundIcon.cat_alkalineEarthMetal,
		div.dialog_footer.cat_alkalineEarthMetal {
		
			obackground-color: #FF9800;
		}
		
			div.dialog_content_container div.dialog_title.cat_alkalineEarthMetal {
			
				border-bottom-color: #FF9800;
			}
			
			div.dialog_basicFacts p.basic_group.cat_alkalineEarthMetal, div.dialog_basicFacts p.basic_state.cat_alkalineEarthMetal,
			div.dialog_basicFacts p.basic_uses.cat_alkalineEarthMetal {
			
				background-image: url('../images/bullets/orange_earthAlkali.gif');
				border-bottom: 2px solid #FF9800;
			}
			
				div.dialog_basicFacts p.basic_facts.cat_alkalineEarthMetal {
				
					background-image: url('../images/bullets/orange_earthAlkali.gif');
				}
				
				div.legend_category span.alkalineEarthMetal {
				
					background-color: #FF9800;
				}
				
				div.collapsibleFrame p.frame_heading.cat_alkalineEarthMetal.selected, div.dialog_mediaClips.cat_alkalineEarthMetal {
				
					background-color: #FF9800; /* 100% tint */
				}
				
				div.collapsibleFrame p.frame_heading.cat_alkalineEarthMetal {
				
					background-color: #FFDDAB; /* 33% tint */
				}
		
		/* TRANSITION METAL styling ----------------------------------------------------------------------------------------- */
		div.element span.cat_transitionMetal, div.element_large div.cat_transitionMetal,
		div.dialog_title div.title_symbol.cat_transitionMetal, div.dialog_footer.cat_transitionMetal {
		
			obackground-color: #BCE600;
		}
		
			div.dialog_content_container div.dialog_title.cat_transitionMetal {
			
				border-bottom-color: #BCE600;
			}
			
			div.dialog_basicFacts p.basic_group.cat_transitionMetal, div.dialog_basicFacts p.basic_state.cat_transitionMetal,
			div.dialog_basicFacts p.basic_uses.cat_transitionMetal {
			
				background-image: url('../images/bullets/green_transitionMetal.gif');
				border-bottom: 2px solid #BCE600;
			}
			
				div.dialog_basicFacts p.basic_facts.cat_transitionMetal {
				
					background-image: url('../images/bullets/green_transitionMetal.gif');
				}
				
				div.legend_category span.transitionMetal {
				
					background-color: #BCE600;
				}
				
				div.collapsibleFrame p.frame_heading.cat_transitionMetal.selected, div.dialog_mediaClips.cat_transitionMetal {
				
					background-color: #BCE600; /* 100% tint */
				}
				
				div.collapsibleFrame p.frame_heading.cat_transitionMetal {
				
					background-color: #E9F7AB; /* 33% tint */
				}
		
		/* LANTHANIDE styling ----------------------------------------------------------------------------------------------- */
		div.element span.cat_lanthanide, div.element_large div.cat_lanthanide, 
		div.dialog_title div.title_symbol.cat_lanthanide, div.dialog_footer.cat_lanthanide {
		
			obackground-color: #00DB2B;
		}
		
			div.dialog_content_container div.dialog_title.cat_lanthanide {
			
				border-bottom-color: #00DB2B;
			}
			
			div.dialog_basicFacts p.basic_group.cat_lanthanide, div.dialog_basicFacts p.basic_state.cat_lanthanide, 
			div.dialog_basicFacts p.basic_uses.cat_lanthanide {
			
				background-image: url('../images/bullets/aqua_lanthanide.gif');
				border-bottom: 2px solid #00DB2B;
			}
			
				div.dialog_basicFacts p.basic_facts.cat_lanthanide {
				
					background-image: url('../images/bullets/aqua_lanthanide.gif');
				}
				
				div.legend_category span.otherTrans {
				
					background-color: #00DB2B;
				}
				
				div.collapsibleFrame p.frame_heading.cat_lanthanide.selected, div.dialog_mediaClips.cat_lanthanide {
				
					background-color: #00DB2B; /* 100% tint */
				}
				
				div.collapsibleFrame p.frame_heading.cat_lanthanide {
				
					background-color: #ABF3B9; /* 33% tint */
				}
		
		/* ACTINIDE styling ------------------------------------------------------------------------------------------------- */
		div.element span.cat_actinide, div.element_large div.cat_actinide,
		div.dialog_title div.title_symbol.cat_actinide, div.dialog_footer.cat_actinide {
		
			obackground-color: #00DB2B;
		}
		
			div.dialog_content_container div.dialog_title.cat_actinide {
			
				border-bottom-color: #00DB2B;
			}
			
			div.dialog_basicFacts p.basic_group.cat_actinide, div.dialog_basicFacts p.basic_state.cat_actinide,
			div.dialog_basicFacts p.basic_uses.cat_actinide {
			
				background-image: url('../images/bullets/taupe_actinide.gif');
				border-bottom: 2px solid #00DB2B;
			}
			
				div.dialog_basicFacts p.basic_facts.cat_actinide {
				
					background-image: url('../images/bullets/taupe_actinide.gif');
				}
				
				div.legend_category span.otherTrans {
				
					background-color: #00DB2B;
				}
				
				div.collapsibleFrame p.frame_heading.cat_actinide.selected {
				
					background-color: #00DB2B; /* 100% tint */
				}
				
				div.collapsibleFrame p.frame_heading.cat_actinide {
				
					background-color: #ABF3B9; /* 33% tint */
				}
		
		/* METALLOID styling ------------------------------------------------------------------------------------------------ */
		div.element span.cat_metalloid, div.element_large div.cat_metalloid,
		div.dialog_title div.title_symbol.cat_metalloid, div.dialog_footer.cat_metalloid {
		
			obackground-color: #933;
		}
		
			div.dialog_content_container div.dialog_title.cat_metalloid {
			
				border-bottom-color: #933;
			}
			
			div.dialog_basicFacts p.basic_group.cat_metalloid, div.dialog_basicFacts p.basic_state.cat_metalloid,
			div.dialog_basicFacts p.basic_uses.cat_metalloid {
			
				background-image: url('../images/bullets/rust_metalloid.gif');
				border-bottom: 2px solid #933;
			}
			
				div.dialog_basicFacts p.basic_facts.cat_metalloid {
				
					background-image: url('../images/bullets/rust_metalloid.gif');
				}
		
		/* OTHER METAL styling ---------------------------------------------------------------------------------------------- */
		div.element span.cat_otherMetal, div.element_large div.cat_otherMetal,
		div.dialog_title div.title_symbol.cat_otherMetal, div.dialog_footer.cat_otherMetal {
		
			obackground-color: #0FB;
		}
		
			div.dialog_content_container div.dialog_title.cat_otherMetal {
			
				border-bottom-color: #0FB;
			}
			
			div.dialog_basicFacts p.basic_group.cat_otherMetal, div.dialog_basicFacts p.basic_state.cat_otherMetal,
			div.dialog_basicFacts p.basic_uses.cat_otherMetal {
			
				background-image: url('../images/bullets/green_otherMetal.gif');
				border-bottom: 2px solid #0FB;
			}
			
				div.dialog_basicFacts p.basic_facts.cat_otherMetal {
				
					background-image: url('../images/bullets/green_otherMetal.gif');
				}
				
				div.legend_category span.otherMetal {
				
					background-color: #0FB;
				}
				
				div.collapsibleFrame p.frame_heading.cat_otherMetal.selected, div.dialog_mediaClips.cat_otherMetal {
				
					background-color: #0FB; /* 100% tint */
				}
				
				div.collapsibleFrame p.frame_heading.cat_otherMetal {
				
					background-color: #ABFFE9; /* 33% tint */
				}
		
		/* NON-METAL styling ------------------------------------------------------------------------------------------------ */
		div.element span.cat_nonMetal, div.element_large div.cat_nonMetal,
		div.dialog_title div.title_symbol.cat_nonMetal, div.dialog_footer.cat_nonMetal {
		
			obackground-color: #0CF;
		}
		
			div.dialog_content_container div.dialog_title.cat_nonMetal {
			
				border-bottom-color: #0CF;
			}
			
			div.dialog_basicFacts p.basic_group.cat_nonMetal, div.dialog_basicFacts p.basic_state.cat_nonMetal,
			div.dialog_basicFacts p.basic_uses.cat_nonMetal {
			
				background-image: url('../images/bullets/blue_nonMetal.gif');
				border-bottom: 2px solid #0CF;
			}
			
				div.dialog_basicFacts p.basic_facts.cat_nonMetal {
				
					background-image: url('../images/bullets/blue_nonMetal.gif');
				}
				
				div.legend_category span.nonMetal {
				
					background-color: #0CF;
				}
				
				div.collapsibleFrame p.frame_heading.cat_nonMetal.selected, div.dialog_mediaClips.cat_nonMetal {
				
					background-color: #0CF; /* 100% tint */
				}
				
				div.collapsibleFrame p.frame_heading.cat_nonMetal {
				
					background-color: #ABEEFF; /* 33% tint */
				}
		
		/* HALOGEN styling -------------------------------------------------------------------------------------------------- */
		div.element span.cat_halogen, div.element_large div.cat_halogen,
		div.dialog_title div.title_symbol.cat_halogen, div.dialog_footer.cat_halogen {
		
			obackground-color: #E675FF;
		}
		
			div.dialog_content_container div.dialog_title.cat_halogen {
			
				border-bottom-color: #E675FF;
			}
			
			div.dialog_basicFacts p.basic_group.cat_halogen, div.dialog_basicFacts p.basic_state.cat_halogen,
			div.dialog_basicFacts p.basic_uses.cat_halogen {
			
				background-image: url('../images/bullets/purple_halogen.gif');
				border-bottom: 2px solid #E675FF;
			}
			
				div.dialog_basicFacts p.basic_facts.cat_halogen {
				
					background-image: url('../images/bullets/purple_halogen.gif');
				}
				
				div.legend_category span.halogen {
				
					background-color: #E675FF;
				}
				
				div.collapsibleFrame p.frame_heading.cat_halogen.selected, div.dialog_mediaClips.cat_halogen {
				
					background-color: #E675FF; /* 100% tint */
				}
				
				div.collapsibleFrame p.frame_heading.cat_halogen {
				
					background-color: #F7D2FF; /* 33% tint */
				}
		
		/* NOBLE GAS styling ------------------------------------------------------------------------------------------------ */
		div.element span.cat_nobleGas, div.element_large div.cat_nobleGas,
		div.dialog_title div.title_symbol.cat_nobleGas, div.dialog_footer.cat_nobleGas {
		
			obackground-color: #FF4D00;
		}
		
			div.dialog_content_container div.dialog_title.cat_nobleGas {
				
				border-bottom-color: #FF4D00;
			}
			
			div.dialog_basicFacts p.basic_group.cat_nobleGas, div.dialog_basicFacts p.basic_state.cat_nobleGas,
			div.dialog_basicFacts p.basic_uses.cat_nobleGas {
			
				background-image: url('../images/bullets/red_nobleGas.gif');
				border-bottom: 2px solid #FF4D00;
			}
			
				div.dialog_basicFacts p.basic_facts.cat_nobleGas {
				
					background-image: url('../images/bullets/red_nobleGas.gif');
				}
				
				div.legend_category span.nobleGas {
				
					background-color: #FF4D00;
				}
				
				div.collapsibleFrame p.frame_heading.cat_nobleGas.selected, div.dialog_mediaClips.cat_nobleGas {
				
					background-color: #FF4D00; /* 100% tint */
				}
				
				div.collapsibleFrame p.frame_heading.cat_nobleGas {
				
					background-color: #FFC4AB; /* 33% tint */
				}
				
		div.legend_category:hover {
				
			background-color: #82C8DC;
			color: #222;
		}
		
			div.legend_category:hover a {
			
				color: #222;
			}

div#element_large_container {

	position: absolute;
	left: 50px;
	top: 140px;
	width: 256px;
	oheight: 80px;
	border:1px solid black;
	background-color: #FFF;
	
}

	div#element_large_container div.element_large {
	
		height: 69px;
	
		background-color: #dff2ff;
		padding-bottom:3px;
		padding-top:3px;
		
		overflow: hidden;
	}
	
		div#element_large_container div.element_large div.element_large_full-name {
		
			width: 100%;
			
			text-align: center;
			font-size: 12pt;
			font-weight: bold;
			
			padding-top: 1px;
			padding-bottom: 5px;
		
			color: #000;
		}
		
			div#element_large_container div.element_large div.element_large_full-name.smallerText {
			
				font-size: 11pt;
			}
		
		div#element_large_container div.element_large div.element_large_atomic-number {
		
			float: left;
			width: 20%;
			padding-top: 0px;
			padding-bottom: 0px;
			padding-left: 3px;
			margin-top:-24px;
			
			font-size: 11pt;
			font-weight: bold;
		}
		
		div#element_large_container div.element_large div.element_large_mass-number {
		
			float: right;
			width: 100%;
			padding-top: 0px;
			padding-bottom: 0px;
			padding-right: 5px;
			
			font-size: 10pt;
			text-align: right;
			
			color: #000;
		}
		
		div#element_large_container div.element_large div.element_large_symbol {
		
			clear: both;
			
			text-align: center;
			font-size: 12pt;
			font-weight: bold;
			color:#000;
			padding-top: 8px;
			
			min-height: 33px;
		}
		
			div#element_large_container div.element_large div.element_large_symbol.smallerText {
			
				font-size: 12pt;
				opadding-top: 2px;
			}



div.clear {

	clear: both;
}

a.noPointer {

	cursor: default;
}

span.hiddenText {

	display: none;
}

div#header {
	height: 5px;
}
	
		div#group_bar {	
			position: absolute;		
			left: 0px;
			top: 5px;
			display:none; /*not needed in this activity*/
			z-index: 100;
		}
	
		div#group_bar div.group_numbers {
			padding-top: 5px;
			margin-left: 0px;		
			width: 500px;
		}
	
		div#group_bar div.group_number {
			display: block;
			float: left;
			cursor: default;	
			border: 1px solid #FFF;
			padding: 2px;
			padding-top: 1px;
			text-align: center;
			font-size: 11pt;
			font-weight: bold;	
			margin-left: 0px;
			margin-right: 0px;	
			background-color: #1C505E;
			color: #FFF;	
			width: 22px;
			height: 15px;
		}
		
			div#group_bar div.group_number.group_3 {
				margin-left: 263px;
			}

div.clear {
	clear: both;
}

/*ANS added*/
.disabled {
			background-color: #dedede;
			opacity:0.6;
		}
.enabled {
			background-color: #ffb955;
		}
		
.elementSelected {
	background-color:red;
}

.elementHovered {
	opacity:0.8;
}

/*highlight the isotope that we use in ICPMS, which isn't necessarily the most abundant */
.mass_analysed
{
		color:#f00;
}


	

		
		
			