body
{
	font-size:0.80em;
}

a 
{
		color:#0000ff;
		text-decoration:none;
}
/*-----------------------------------------------------------*/
/*tab setup*/
#tabs_main
{
	height:630px;
}

#tabs-3instrument
{
	width:470px;
	position:absolute;
	top:50px;
	left:10px;
}

#tabs-3data
{
	width:470px;
	position:absolute;
	top:50px;
	left:495px;
}

#tabs-11, #tabs-12, #tabs-13, #tabs-21, #tabs-22, #tabs-23
{
	padding-left:0.2em;
	height:500px;
}

#moreInfoDialog {
	display:none;
}

#flashingWarning {
	
	background:#e4edfe;
	border:1px solid black;
	padding:3px;
}

.transcript {
	font-size:0.9em;
	color:#001372;
	width:600px;
	border:1px solid #d3d3d3;
	padding:3px;
	display:none;
	background:#f2f5fe;
}

.caption {
	font-size:0.9em;
	color:#001372;
	width:800px;
}

.tutorialPage {
	height:520px;
	overflow-y:auto;
}

#clearAllWarningDialog {
	display:none;
}

/*-----------------------------------------------------------*/
/*data output tab*/

#btnRefValues {
	position:absolute;
	top:52px;
	left:230px;
}
/*-----------------------------------------------------------*/
/*Sample change tab*/

#removeDiscDialog {
	display:none;
}

#fieldsetHelium {
	position:absolute;
	top:47px;
	left:290px;
	border:none;
}

#fieldsetLoadSampleCell {
	position:absolute;
	top:47px;
	left:84px;
	border:none;
}

#heliumIndicator
{
	position:relative;
	top:-290px;
	left:-108px;
	font-weight:bold;
	0border: 1px solid rgb(255, 210, 0);
	background-color: rgb(255, 210, 0);
	padding:2px;
	width:100px;
}

#btnClearAll, #btnClearAll2, #btnClearAll3{
	position:absolute;
	top:8px;
	left:390px;
	color:#212cfe;
}
#btnClearAll2 {
		top:-31px;
		left:388px;
}

/*-----------------------------------------------------------*/
/*ICP-MS tab*/
#slider_torch1, #slider_torch2, #slider_gas
{
	width: 100px;
	position:relative;
	
	margin-right:10px;
	margin-top:8px;
}

#tuningVideoDiv
{
	position:absolute;
	border-width:0;
	left:0px;
	top:120px;
	z-index:9999;
	display:none;
	width:440px;
	height:380px;
	background:white;
	border:10px solid white;
}
#sliderContainer
{
	position:relative;
	left:126px;
	top:27px;
}

#sliderContainer div
{
	
	position:relative;
	display:inline-block;
}

#fieldsetPlasma
{
	position:absolute;
	border-width:0;
	left:315px;
	top:10px;
	width:200px;
}

#fieldsetFireLaser
{
	position:absolute;
	border-width:0;
	left:130px;
	top:490px;
}

#btnSelectElements
{
	position:absolute;
	left:160px;
	top:150px;
}


#btnTuneICPMS
{
	position:absolute;
	left:2px;
	top:82px;
}
#btnFinishTuning
{
	position:absolute;
	left:2px;
	top:82px;
	display:none;
}


/*-----------------------------------------------------------*/
/*laser tab*/

#batchTimeDisplay
{
	display:none;
	position:absolute;
	left:324px;
	top:496px;
}

#batchCompleteDialog {
	display:none;
}

#overwriteDataDialog {
	display:none;
}

#fieldsetLaserOn
{
	position:absolute;
	border-width:0;
	left:333px;
	top:45px;
}

#btnFireLaser
{
	position:absolute;
	left:138px;
	top:490px;
}

#btnStopLaser
{
	position:absolute;
	left:138px;
	top:490px;
	display:none;
}

#btnPlaceSpot
{
	position:absolute;
	left:10px;
	top:225px;
}

#btnZoomIn
{
	position:absolute;
	left:140px;
	top:70px;
}

#btnZoomOut
{
	position:absolute;
	left:175px;
	top:70px;
}

#sampleHolderLaser{
  
  position: absolute;
  top: 100px;
  left: 140px;
  
  
}

#liveImageDiv {
  cursor: move;
  position: relative;
  top: 0%;
  left: 0%;
  height:100%;
  
}

#liveImage {
  cursor: move;
  position: absolute;
  top: 0%;
  left: 0%;
  height:100%;
  background-color:rgb(189, 190, 192);
}
#liveImageOffscreen {
  top: 0%;
  left: 0%;
  position:absolute;
  height:100%;
  opacity:0;
}


#btnRunBatch
{
	position:absolute;
	left:230px;
	top:490px;
}
#btnStopBatch
{
	position:absolute;
	left:230px;
	top:490px;
	display:none;
}
#laserImageDiv
{
	overflow:hidden;
	border: 1px solid black;
	position:absolute;
	left:140px;
	width:320px;
	height:320px;
	top:100px;
	background-color:rgb(189, 190, 192);
	ocursor: move;
	/*attempt to get rid of highlighting of elements when sample holder div is dragged.
	Might need to limit it to only during drag event*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}


#crossHairHoriz
{
	width:320px;
	border-top: 1px solid red;
	position:absolute;
	height:1px;
	top:160px;
}
#crossHairVert
{
	left:160px;
	width:1px;
	border-right: 1px solid red;
	position:absolute;
	height:320px;
	top:0px;
}

.crossHairCircle {
    border-radius: 50%;
	width: 10px;
    height: 10px;
    border: 1px solid red;
	position:absolute;
	left:155px;
	top:155px;
	cursor: move;
	opacity:0.01;
}
/*
.spotMarker {
    border-radius: 50%;
    border: 1px solid blue;
	cursor: move;
}
*/

.spotMarker {
  position: absolute;
  z-index:100;
}

.spotMarker:before, .spotMarker:after {
  content: "";
  position: absolute;
  background: #ffff00;
}

.spotMarker:before {
  left: 45%;
  width: 10%;
 
  height: 100%;
}

.spotMarker:after {
  top: 45%;
  height: 10%;
  width: 100%;
}

.ablationPit {
    border-radius: 50%;
	background-color: #FFF;
	opacity:0.8;
	box-shadow: inset 3px 1px 30px #000;	
	cursor: move;
}

.ablationLine {
	background-color: #444;
	opacity:0.4;	
	cursor: move;
	width:4px;
	position:absolute;
	
	z-index:999;
}

#selectRepetitionRate-button, #selectSpotSize-button
{
	margin-top:0.3em;
	width:58px;
}

#fieldsetFlashing
{
	border-width:0;
}

#fieldset_laser
{
	border-width:0;
	position:absolute;
	left:130px;
	top:430px;
	width:320px
}

#fieldsetFlashing
{
	border-width:0;
	position:absolute;
	left:130px;
	top:525px;
	width:320px
}

#fieldset_laser_menus
{
	border-width:0;
	position:absolute;
	left:0px;
	top:95px;

}
/*sample change tab*/

#sampleHolder
{
	position:absolute;
	left:134px;
	top:263px;
	height:282px;
	border:4px solid white;
}

#imgSampleDisc
{
	position:absolute;
	left:20px;
	top:360px;
	z-index:999;
}

#discHolder1, #discHolder2, #discHolder3, #discHolder4, #discHolder5,#discHolder6
{
	cursor:pointer;
}

#sampleHolder1, #sampleHolder2, #sampleHolder3,#sampleHolder4, #sampleHolder5, #sampleHolder6
{
	width:95px;
	height:95px;
	obackground-color:red;
	cursor:pointer;
}
#sampleHolder1 { position:absolute; top:32px; left:9px; }
#sampleHolder2 { position:absolute; top:32px; left:114px; }
#sampleHolder3 { position:absolute; top:32px; left:218px; }
#sampleHolder4 { position:absolute; top:157px; left:9px; }
#sampleHolder5 { position:absolute; top:157px; left:114px; }
#sampleHolder6 { position:absolute; top:157px; left:218px; }

#sampleName1 { position:absolute; top:10px; left:9px; width:96px; font-size:0.85em; text-align:center}
#sampleName2 { position:absolute; top:10px; left:114px; width:96px;  font-size:0.85em; text-align:center}
#sampleName3 { position:absolute; top:10px; left:218px; width:96px;  font-size:0.85em; text-align:center}
#sampleName4 { position:absolute; top:260px; left:9px; width:96px;  font-size:0.85em; text-align:center}
#sampleName5 { position:absolute; top:260px; left:114px; width:96px;  font-size:0.85em; text-align:center}
#sampleName6 { position:absolute; top:260px; left:218px; width:96px;  font-size:0.85em; text-align:center}

#sampleNameLaser1 { position:absolute; top:30px; left:9px; width:96px; font-size:0.85em; text-align:center}
#sampleNameLaser2 { position:absolute; top:30px; left:114px; width:96px;  font-size:0.85em; text-align:center}
#sampleNameLaser3 { position:absolute; top:30px; left:218px; width:96px;  font-size:0.85em; text-align:center}
#sampleNameLaser4 { position:absolute; top:275px; left:9px; width:96px;  font-size:0.85em; text-align:center}
#sampleNameLaser5 { position:absolute; top:275px; left:114px; width:96px;  font-size:0.85em; text-align:center}
#sampleNameLaser6 { position:absolute; top:275px; left:218px; width:96px;  font-size:0.85em; text-align:center}

#liveImageSampleName { position:absolute; top:5px; left:5px;   font-size:0.85em; }

#sampleTable, #scanListTable, #dataOutputTable th {
	text-align:left;
	padding-left:10px;
	
}
#sampleTable
{
	height:150px;
}

.dataTables_info {
	odisplay:none;
}

.analysed {
	background-color:red;
}

#errorDiv {
	position:absolute;
	left:5px;
	top:370px;
}

#scaleBar {
	position:absolute;
	left:400px;
	top:440px;
	width:50px;
	height:3px;
	background:red;
}

#scaleBarText {
	position:absolute;
	left:400px;
	top:450px;
	width:50px;
	text-align:center;
	
}
.rowAnalysed {
	background-color : #b1ff8b;
}

.laserLight {
  
  background-color: #a973aa;
  border-radius: 50%;
  opacity:0.8;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #fff 0 -1px 9px, rgba(255, 255, 255, 0.5) 0 2px 12px;
}

.laserLight5 {
  
  background-color: #a973aa;
  border-radius: 50%;
  opacity:0.8;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #fff 0 -1px 9px, rgba(255, 255, 255, 0.5) 0 2px 12px;
  -webkit-animation: blink 0.2s infinite;
  -moz-animation: blink 0.2s infinite;
  -ms-animation: blink 0.2s infinite;
  -o-animation: blink 0.2s infinite;
  animation: blink 0.2s infinite;
}

.laserLight10 {
  
  background-color: #a973aa;
  border-radius: 50%;
  opacity:0.8;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 255, 255, 0.5) 0 2px 12px;
  -webkit-animation: blink 0.1s infinite;
  -moz-animation: blink 0.1s infinite;
  -ms-animation: blink 0.1s infinite;
  -o-animation: blink 0.1s infinite;
  animation: blink 0.1s infinite;
}


@-webkit-keyframes blink {
    from { background-color: #FFF; }
    50% { background-color: #AAA; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 255, 255, 0.5) 0 2px 0;}
    to { background-color: #FFF; }
}
@-moz-keyframes blink {
    from { background-color: #FFF; }
    50% { background-color: #AAA; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 255, 255, 0.5) 0 2px 0;}
    to { background-color: #FFF; }
}
@-ms-keyframes blink {
    from { background-color: #FFF; }
    50% { background-color: #AAA; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 255, 255, 0.5) 0 2px 0;}
    to { background-color: #FFF; }
}
@-o-keyframes blink {
    from { background-color: #FFF; }
    50% { background-color: #AAA; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 255, 255, 0.5) 0 2px 0;}
    to { background-color: #FFF; }
}
@keyframes blink {
    from { background-color: #FFF; }
    50% { background-color: #a973aa; box-shadow: rgba(0, 0, 0, 0.8) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 255, 255, 0.5) 0 5px 0;}
    to { background-color: #FFF; }
}
